<% include top %>
<div class="catalogo" >
    <ul id="fotoLink">
        <li><img src ="<%= art.art_imagen %>" id="imagenCabecera"></img></li>
        <% if (usuarioLogin === "admin") { %>
        <li><a href="/actualiza/<%= art.art_ean %>" name="comprar" id="enlaceCompra" > Cambiar datos (<%= art.art_pvp %> €)</a></li>
        <% } else if (usuarioLogin != undefined) {%>
            <center><li><a href="/compra/<%= art.art_ean %>" name="comprar" id="enlaceCompra" > Comprar </a></li></center>
        <% } %>
    </ul> <br>
    <table  cellspacing="0">
        <tr>
            <td>
                <%= art.art_nombre %>
            </td>
            <td >
                Especificaciones
            </td>
        </tr>
        <tr>
            <td>
                EAN
            </td>
            <td>
                <%= art.art_ean %>
            </td>
        </tr>
        <tr>
            <td>
                Descripción
            </td>
            <td>
                <%= art.art_descrip %>
            </td>
        </tr>
        <tr>
            <td>
                Tamaño
            </td>
            <td>
                <%= art.art_pantalla %> pulgadas
            </td>
        </tr>
        <tr>
            <td>
                Resolución
            </td>
            <td>
                <%= art.art_resolucion %>
            </td>
        </tr>
        <tr>
            <td>
                Procesador
            </td>
            <td>
                <%= art.art_procesador %>
            </td>
        </tr>
        <tr>
            <td>
                Sistema Operativo
            </td>
            <td>
                <%= art.art_sistoper %>
            </td>
        </tr>
        <tr>
            <td>
                Conectividad
            </td>
            <td>
                <%= art.art_conect %>
            </td>
        </tr>
        <tr>
            <td>
                Fabricante
            </td>
            <td>
                <%= art.art_fabric %>
            </td>
        </tr> 
    </table>
    <br>
  </div>
<% include bottom %>
