<% include top %>
<h1> Formulario de Alta de Artículo </h1>
<form id ="registrar" action="/actualizarArticulo" method="post">
    <input type="text" class="campos" name="eanArticulo" value="<%= art.art_ean %>"><br>
	<input type="text" class="campos" name="nombreArticulo" value="<%= art.art_nombre %>"><br>
    <input type="text" class="campos" name="descripcion" value="<%= art.art_descrip %>"><br>
    <p><b>Tipo de artículo:</b></p>
    <% if( art.art_tipo === "tablet") {%>
    <input type="radio" class="campos" name="tipo" value="tablet" checked="checked"> Tablet<br>
    <% } else { %>
    <input type="radio" class="campos" name="tipo" value="tablet"> Tablet<br>
    <% } %>
    <% if( art.art_tipo === "smartphone") {%>
    <input type="radio" class="campos" name="tipo" value="smartphone" checked="checked"> Smartphone<br>
    <% } else { %>
    <input type="radio" class="campos" name="tipo" value="smartphone"> Smartphone<br>
    <% } %>
    <% if( art.art_tipo === "smartTV") {%>
    <input type="radio" class="campos" name="tipo" value="smartTV" checked="checked"> Smart TV<br>
    <% } else { %>
    <input type="radio" class="campos" name="tipo" value="smartTV"> Smart TV<br>
    <% } %>
    <input type="text" class="campos" name="precio" value="<%= art.art_precio %>"><br>
    <input type="text" class="campos" name="imagen" value="<%= art.art_imagen %>"><br>
    <input type="text" class="campos" name="conectividad" value="<%= art.art_conect %>"><br>
    <input type="text" class="campos" name="pulgadas" value="<%= art.art_pantalla %>"><br>
    <p><b>Resolución:</b></p>
    <% if( art.art_tipo === "720p") {%>
    <input type="radio" class="campos" name="tipo" value="720p" checked="checked"> 720p<br>
    <% } else { %>
    <input type="radio" class="campos" name="tipo" value="720p"> 720p<br>
    <% } %>
    <% if( art.art_tipo === "1080p") {%>
    <input type="radio" class="campos" name="tipo" value="1080p" checked="checked"> 1080p<br>
    <% } else { %>
    <input type="radio" class="campos" name="tipo" value="1080p"> 1080p<br>
    <% } %>
    <% if( art.art_tipo === "4K") {%>
    <input type="radio" class="campos" name="tipo" value="4K" checked="checked"> 4K<br>
    <% } else { %>
    <input type="radio" class="campos" name="tipo" value="4K"> 4K<br>
    <% } %>
    <p><b>Sistema operativo:</b></p>
    <% if( art.art_tipo === "Android") {%>
    <input type="radio" class="campos" name="tipo" value="Android" checked="checked"> Android<br>
    <% } else { %>
    <input type="radio" class="campos" name="tipo" value="Android"> Android<br>
    <% } %>
    <% if( art.art_tipo === "windowsphone") {%>
    <input type="radio" class="campos" name="tipo" value="windowsphone" checked="checked"> Windows Phone<br>
    <% } else { %>
    <input type="radio" class="campos" name="tipo" value="windowsphone"> Windows Phone<br>
    <% } %>
    <% if( art.art_tipo === "N/A") {%>
    <input type="radio" class="campos" name="tipo" value="N/A" checked="checked"> N/A<br>
    <% } else { %>
    <input type="radio" class="campos" name="tipo" value="N/A"> N/A<br>
    <% } %>
    <input type="text" class="campos" name="procesador" value="<%= art.art_procesador %>"><br>
    <input type="text" class="campos" name="fabricante" value="<%= art.art_fabric"><br>
    <input type="submit" value="Cambiar datos">
</form>
<% include bottom %>
