<% include top %>
<div class="catalogo" >
    <table  cellspacing="0">
        <tr>
            <td>
                <%= title %>: <%= n %>
            </td>
            <td >
                Fecha
            </td>
            <td>
            	Artículo
            </td>
            <td>
                Importe
            </td>
        </tr>
        <% ped.forEach(function (p){ %>
			<tr>
				<td><%= p.ped_codigo %></td>
				<td><%= p.ped_fecha %></td>
				<td><% var artic;
                 articulos.getArticuloByEan(p.ped_articulo,  function (err, artic, results) {
                    artic = results[0].art_nombre;
                });%>
                <%= artic %></td>
                <td><%= p.ped_importe %></td>
			</tr>
		<% }); %>

       
    </table>
  </div>
<% include bottom %>




