<% include top %>
<div class="catalogo" >
    <table  cellspacing="0">
        <tr>
            <td>
                <%= title %>: <%= n %>
            </td>
            <td >
                Fecha
            </td>
            <td>
            	Artículo
            </td>
            <td>
                Importe
            </td>
        </tr>
        <% var i = 0;
            ped.forEach(function (p){%>
			<tr>
				<td><%= p.ped_codigo %></td>
				<td><%= p.ped_fecha %></td>
				<td><%= articulos[i].art_nombre %></td>
                <td><%= p.ped_importe %></td>
			</tr>
		<% i++; 
        }); %>

       
    </table>
  </div>
<% include bottom %>




